.App {
  /*text-align: center;*/
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 180px;
}

.App-header {
  background-color: #0078a0; /*#007399*/
  height: 165px;
  padding: 20px;
  color: white;
  border-bottom: 4px solid #2c2f30;
}

.App-title {
  font-size: 1.5em;
  color: black;
}

.App-intro {
  font-size: large;
}

#current {
  text-align: center;
}

.description {
  font-style: italic;
}

ul, li {
  list-style: none;
  text-align: left;
}

.currentContainer {
  float: left;
  color: white;
  background-color: #343839;
  width: 30%;
  text-align: center;
  padding: 1%;
  border-right: 4px solid #2c2f30;
  height: 100vh;
}

h1 {
  font-size: 4em;
}

.currentList > li {
  margin: 5%;
}

.fiveDayContainer {
  color: white;
  background-color: #343839;
  float: left;

}

select {
  background-color: #343839;
  color: white;
  border: none;
  width: 120px;
  height: 50px;
  border-right: solid 2px #2c2f30;
  border-bottom: solid 2px #2c2f30;
}

option {
  border: 1px solid white;
}

a {
  color: white;
}

.threeHourContainer {
  color: white;
  background-color: #343839;
  float: left;
  width: 25%;
  border-right: 4px solid #2c2f30;
  padding: 3.4%;
}

.threeHourTemp {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.time {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.pThreeHours{
  margin: 5%;
}

.radar {
  float: left;
}

.radarImage {
    position: absolute;
  /*left: 814px;
  top: 320px;*/
  width: 310px;
  z-index: 3;
}
.mapImage {
    position: absolute;
  /*left: 814px;
  top: 320px;*/
  width: 290px;
  z-index: 1;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
